<h1>
  <%= @group.name %>
</h1>

<h2>Members</h2>
<% @group.users.each do |user| %>
  <p>
    <%= link_to user.name, user %>
    <%= link_to "Invite Link", invite_path(user.invite_token) if user.invite_token %>
  </p>
<% end %>
