<h1>
  <%= @group.name %>
</h1>

<h2>Members</h2>
<% @group.users.each do |user| %>
  <%= link_to user.name, user %>
<% end %>

<%= link_to "Invite Link", group_join_path(@group), method: :post %>

<%= link_to "Secret Santa!", group_shuffle_path(@group), method: :post %>
