<nav>
  <ul class="max-w-screen-md mx-auto flex items-center justify-end p-4">
    <% if Current.group %>
      <li class="rounded px-4 py-1 hover:bg-opacity-20 hover:bg-black">
        <%= link_to Current.group.name, Current.group, class: "" %>
      </li>
    <% end %>
    <% if Current.user %>
      <li class="rounded px-4 py-1 hover:bg-opacity-20 hover:bg-black">
        <%= button_to "Log Out", session_path, method: :delete, class: "" %>
      </li>
    <% end %>
  </ul>
</nav>
